<a href="https://colab.research.google.com/github/labsJ9Y/colab-/blob/main/yoyo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('yo')

yo

In [ ]:
import numpy as np
import pandas as pd

# New Section

In [ ]:
dict1 = {
    "name":['labhi', 'tom', 'jerry', 'jim'],
    "marks":[88,22,66,11] ,
    "city":['nagpur', 'bombay', 'nashik', 'delhi'] 
}

In [ ]:
df = pd.DataFrame(dict1)

In [ ]:
df

    name  marks    city
0  labhi     88  nagpur
1    tom     22  bombay
2  jerry     66  nashik
3    jim     11   delhi

In [ ]:
df.to_csv('buddy.csv')

In [ ]:
df.to_csv('buddy.csv', index=False)

In [ ]:
df.head()

    name  marks    city
0  labhi     88  nagpur
1    tom     22  bombay
2  jerry     66  nashik
3    jim     11   delhi

In [ ]:
df.tail()

    name  marks    city
0  labhi     88  nagpur
1    tom     22  bombay
2  jerry     66  nashik
3    jim     11   delhi

In [ ]:
df.describe()    # for numerical (number bro number)

           marks
count   4.000000
mean   46.750000
std    36.344417
min    11.000000
25%    19.250000
50%    44.000000
75%    71.500000
max    88.000000

In [ ]:
df.index = ['first', 'second', 'thrid', 'four']

In [ ]:
df

         name  marks    city
first   labhi     88  nagpur
second    tom     22  bombay
thrid   jerry     66  nashik
four      jim     11   delhi

In [ ]:
ser = pd.Series(np.random.rand(33))

In [ ]:
ser  # when pandas is given to a series....it makes the data into index

0     0.625352
1     0.180125
2     0.282454
3     0.439630
4     0.835021
5     0.581479
6     0.408036
7     0.957710
8     0.911565
9     0.292059
10    0.867880
11    0.218322
12    0.408234
13    0.539159
14    0.276753
15    0.034167
16    0.689862
17    0.904610
18    0.968176
19    0.548831
20    0.332662
21    0.991352
22    0.359612
23    0.724886
24    0.654387
25    0.855674
26    0.174708
27    0.049809
28    0.115536
29    0.482481
30    0.513854
31    0.161232
32    0.974766
dtype: float64

In [ ]:
type(ser)

pandas.core.series.Series

In [ ]:
newdf = pd.DataFrame(np.random.rand(332,6), index=np.arange(332))    # python 'range' function = numpy 'arange' (both are same)

In [ ]:
newdf

            0         1         2         3         4         5
0    0.363270  0.134973  0.520899  0.351377  0.239569  0.948734
1    0.198033  0.697517  0.750679  0.118755  0.181750  0.743949
2    0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
3    0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
4    0.023181  0.217998  0.234585  0.448379  0.570062  0.488784
..        ...       ...       ...       ...       ...       ...
327  0.861419  0.861662  0.667193  0.908011  0.193030  0.382738
328  0.242863  0.353430  0.604560  0.436369  0.042067  0.435393
329  0.705267  0.402900  0.538943  0.667611  0.557782  0.502896
330  0.338775  0.948968  0.533221  0.998294  0.304273  0.232437
331  0.613370  0.603965  0.153865  0.726900  0.156451  0.369609

[332 rows x 6 columns]

In [ ]:
type(newdf)

pandas.core.frame.DataFrame

In [ ]:
newdf.describe()

                0           1           2           3           4           5
count  332.000000  332.000000  332.000000  332.000000  332.000000  332.000000
mean     0.485986    0.520127    0.507727    0.506051    0.499280    0.495076
std      0.291992    0.303381    0.285155    0.286691    0.288102    0.281199
min      0.002481    0.000014    0.003765    0.003263    0.002289    0.004748
25%      0.241299    0.235724    0.262670    0.272963    0.244956    0.238674
50%      0.481595    0.524849    0.539883    0.497758    0.529868    0.480357
75%      0.720623    0.798576    0.737970    0.757309    0.744376    0.743794
max      0.991961    0.999105    0.997265    0.998294    0.997721    0.997292

In [ ]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            322, 323, 324, 325, 326, 327, 328, 329, 330, 331],
           dtype='int64', length=332)

In [ ]:
newdf.columns

RangeIndex(start=0, stop=6, step=1)

In [ ]:
newdf.to_numpy()

array([[0.36327048, 0.13497346, 0.52089884, 0.35137743, 0.23956898,
        0.94873384],
       [0.19803342, 0.69751748, 0.75067889, 0.11875488, 0.18175012,
        0.74394867],
       [0.17993981, 0.91128693, 0.49874756, 0.7977169 , 0.6280581 ,
        0.58569355],
       ...,
       [0.70526702, 0.40290034, 0.53894307, 0.66761142, 0.55778207,
        0.50289644],
       [0.3387749 , 0.94896805, 0.53322072, 0.99829434, 0.3042729 ,
        0.23243742],
       [0.61336997, 0.60396549, 0.15386456, 0.72690005, 0.15645113,
        0.36960914]])

In [ ]:
newdf.T   # Transpose

,0,1,2,3,4,5,6,7,8,9,...,322,323,324,325,326,327,328,329,330,331
0,0.363270,0.198033,0.179940,0.109778,0.023181,0.320463,0.633725,0.332743,0.387763,0.913671,...,0.288548,0.849144,0.881126,0.368587,0.484384,0.861419,0.242863,0.705267,0.338775,0.613370
1,0.134973,0.697517,0.911287,0.804790,0.217998,0.554002,0.878015,0.702834,0.438566,0.114665,...,0.878593,0.063915,0.531799,0.043804,0.577226,0.861662,0.353430,0.402900,0.948968,0.603965
2,0.520899,0.750679,0.498748,0.332287,0.234585,0.066103,0.555552,0.341735,0.970218,0.671115,...,0.330164,0.694994,0.198121,0.011435,0.158424,0.667193,0.604560,0.538943,0.533221,0.153865
3,0.351377,0.118755,0.797717,0.049080,0.448379,0.345470,0.507698,0.313165,0.898523,0.118632,...,0.603334,0.659556,0.869463,0.865859,0.305242,0.908011,0.436369,0.667611,0.998294,0.726900
4,0.239569,0.181750,0.628058,0.864447,0.570062,0.606368,0.358890,0.926680,0.796196,0.521005,...,0.225995,0.860679,0.218726,0.073323,0.917969,0.193030,0.042067,0.557782,0.304273,0.156451
5,0.948734,0.743949,0.585694,0.838513,0.488784,0.520219,0.300329,0.366634,0.400521,0.130115,...,0.567219,0.546794,0.080473,0.817171,0.849730,0.382738,0.435393,0.502896,0.232437,0.369609

In [ ]:
newdf.head()

          0         1         2         3         4         5
0  0.363270  0.134973  0.520899  0.351377  0.239569  0.948734
1  0.198033  0.697517  0.750679  0.118755  0.181750  0.743949
2  0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
3  0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
4  0.023181  0.217998  0.234585  0.448379  0.570062  0.488784

In [ ]:
newdf.sort_index(axis=0, ascending=False) # to sort the inxed oulta , if you dont write 'ascending = false' no sorting in index will held
                                          # 'axis=0' are the rows, by default 'ascending' is always true
                                          # 'axis=1' is columns

            0         1         2         3         4         5
331  0.613370  0.603965  0.153865  0.726900  0.156451  0.369609
330  0.338775  0.948968  0.533221  0.998294  0.304273  0.232437
329  0.705267  0.402900  0.538943  0.667611  0.557782  0.502896
328  0.242863  0.353430  0.604560  0.436369  0.042067  0.435393
327  0.861419  0.861662  0.667193  0.908011  0.193030  0.382738
..        ...       ...       ...       ...       ...       ...
4    0.023181  0.217998  0.234585  0.448379  0.570062  0.488784
3    0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
2    0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
1    0.198033  0.697517  0.750679  0.118755  0.181750  0.743949
0    0.363270  0.134973  0.520899  0.351377  0.239569  0.948734

[332 rows x 6 columns]

In [ ]:
newdf.head()

          0         1         2         3         4         5
0  0.363270  0.134973  0.520899  0.351377  0.239569  0.948734
1  0.198033  0.697517  0.750679  0.118755  0.181750  0.743949
2  0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
3  0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
4  0.023181  0.217998  0.234585  0.448379  0.570062  0.488784

In [ ]:
newdf[0]

0      0.363270
1      0.198033
2      0.179940
3      0.109778
4      0.023181
         ...
327    0.861419
328    0.242863
329    0.705267
330    0.338775
331    0.613370
Name: 0, Length: 332, dtype: float64

In [ ]:
type(newdf[0])   # combination of series makes a DataFrame

pandas.core.series.Series

In [ ]:
newdf2 = newdf.copy()

In [ ]:
newdf2[0][0] = 97835  # newdf2 is a view of newdf, changes in newdf2 will also occur changes in newdf, newdf2 is pointing to newdf

In [ ]:
newdf

            0         1         2         3         4         5
0    0.363270  0.134973  0.520899  0.351377  0.239569  0.948734
1    0.198033  0.697517  0.750679  0.118755  0.181750  0.743949
2    0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
3    0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
4    0.023181  0.217998  0.234585  0.448379  0.570062  0.488784
..        ...       ...       ...       ...       ...       ...
327  0.861419  0.861662  0.667193  0.908011  0.193030  0.382738
328  0.242863  0.353430  0.604560  0.436369  0.042067  0.435393
329  0.705267  0.402900  0.538943  0.667611  0.557782  0.502896
330  0.338775  0.948968  0.533221  0.998294  0.304273  0.232437
331  0.613370  0.603965  0.153865  0.726900  0.156451  0.369609

[332 rows x 6 columns]

In [ ]:
newdf.loc[0,0] = 654

In [ ]:
newdf.head()

            0         1         2         3         4         5
0  654.000000  0.134973  0.520899  0.351377  0.239569  0.948734
1    0.198033  0.697517  0.750679  0.118755  0.181750  0.743949
2    0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
3    0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
4    0.023181  0.217998  0.234585  0.448379  0.570062  0.488784

In [ ]:
newdf.columns = list("ABCDEF")

In [ ]:
newdf.head(2)

            A         B         C         D         E         F
0  654.000000  0.134973  0.520899  0.351377  0.239569  0.948734
1    0.198033  0.697517  0.750679  0.118755  0.181750  0.743949

In [ ]:
newdf.loc[0,'A'] = 65432

In [ ]:
newdf.head()

              A         B         C         D         E         F
0  65432.000000  0.134973  0.520899  0.351377  0.239569  0.948734
1      0.198033  0.697517  0.750679  0.118755  0.181750  0.743949
2      0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
3      0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
4      0.023181  0.217998  0.234585  0.448379  0.570062  0.488784

In [ ]:
newdf.loc[[1,2],:]

          A         B         C         D         E         F
1  0.198033  0.697517  0.750679  0.118755  0.181750  0.743949
2  0.179940  0.911287  0.498748  0.797717  0.628058  0.585694

In [ ]:
newdf.loc[(newdf['A']<0.3) & (newdf['C']>0.1)]

            A         B         C         D         E         F
1    0.198033  0.697517  0.750679  0.118755  0.181750  0.743949
2    0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
3    0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
4    0.023181  0.217998  0.234585  0.448379  0.570062  0.488784
11   0.232996  0.821791  0.605556  0.118829  0.647058  0.349627
..        ...       ...       ...       ...       ...       ...
315  0.149872  0.436153  0.623297  0.732188  0.546822  0.192301
319  0.142100  0.288623  0.401050  0.585857  0.499178  0.563172
321  0.207647  0.470742  0.405597  0.893380  0.523642  0.439770
322  0.288548  0.878593  0.330164  0.603334  0.225995  0.567219
328  0.242863  0.353430  0.604560  0.436369  0.042067  0.435393

[99 rows x 6 columns]

In [ ]:
newdf.head(2)

              A         B         C         D         E         F
0  65432.000000  0.134973  0.520899  0.351377  0.239569  0.948734
1      0.198033  0.697517  0.750679  0.118755  0.181750  0.743949

In [ ]:
newdf.iloc[0,4]               # counting from index      # iloc counts using numbers only

0.2395689841015013

In [ ]:
newdf.iloc[[0,1],[1,2]]                  # iloc counts using numbers only

          B         C
0  0.134973  0.520899
1  0.697517  0.750679

In [ ]:
newdf.iloc[[0,4],[1,2]]            # iloc counts using numbers only

          B         C
0  0.134973  0.520899
4  0.217998  0.234585

In [ ]:
newdf.head(3)

              A         B         C         D         E         F
0  65432.000000  0.134973  0.520899  0.351377  0.239569  0.948734
1      0.198033  0.697517  0.750679  0.118755  0.181750  0.743949
2      0.179940  0.911287  0.498748  0.797717  0.628058  0.585694

In [ ]:
newdf.drop(['A'], axis=1)       # if written 'newdf = newdf.drop...bla bla'   then only it will change my orignal data

            B         C         D         E         F
0    0.134973  0.520899  0.351377  0.239569  0.948734
1    0.697517  0.750679  0.118755  0.181750  0.743949
2    0.911287  0.498748  0.797717  0.628058  0.585694
3    0.804790  0.332287  0.049080  0.864447  0.838513
4    0.217998  0.234585  0.448379  0.570062  0.488784
..        ...       ...       ...       ...       ...
327  0.861662  0.667193  0.908011  0.193030  0.382738
328  0.353430  0.604560  0.436369  0.042067  0.435393
329  0.402900  0.538943  0.667611  0.557782  0.502896
330  0.948968  0.533221  0.998294  0.304273  0.232437
331  0.603965  0.153865  0.726900  0.156451  0.369609

[332 rows x 5 columns]

In [ ]:
newdf.drop([1,5], axis=0, inplace=True)   # inplace means modifying the orignal

In [ ]:
newdf

                A         B         C         D         E         F
0    65432.000000  0.134973  0.520899  0.351377  0.239569  0.948734
2        0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
3        0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
4        0.023181  0.217998  0.234585  0.448379  0.570062  0.488784
6        0.633725  0.878015  0.555552  0.507698  0.358890  0.300329
..            ...       ...       ...       ...       ...       ...
327      0.861419  0.861662  0.667193  0.908011  0.193030  0.382738
328      0.242863  0.353430  0.604560  0.436369  0.042067  0.435393
329      0.705267  0.402900  0.538943  0.667611  0.557782  0.502896
330      0.338775  0.948968  0.533221  0.998294  0.304273  0.232437
331      0.613370  0.603965  0.153865  0.726900  0.156451  0.369609

[330 rows x 6 columns]

In [ ]:
newdf.head()

              A         B         C         D         E         F
0  65432.000000  0.134973  0.520899  0.351377  0.239569  0.948734
2      0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
3      0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
4      0.023181  0.217998  0.234585  0.448379  0.570062  0.488784
6      0.633725  0.878015  0.555552  0.507698  0.358890  0.300329

In [ ]:
newdf.reset_index(drop=True, inplace=True)        #'drop=True' - didnt understand

In [ ]:
newdf

                A         B         C         D         E         F
0    65432.000000  0.134973  0.520899  0.351377  0.239569  0.948734
1        0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
2        0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
3        0.023181  0.217998  0.234585  0.448379  0.570062  0.488784
4        0.633725  0.878015  0.555552  0.507698  0.358890  0.300329
..            ...       ...       ...       ...       ...       ...
325      0.861419  0.861662  0.667193  0.908011  0.193030  0.382738
326      0.242863  0.353430  0.604560  0.436369  0.042067  0.435393
327      0.705267  0.402900  0.538943  0.667611  0.557782  0.502896
328      0.338775  0.948968  0.533221  0.998294  0.304273  0.232437
329      0.613370  0.603965  0.153865  0.726900  0.156451  0.369609

[330 rows x 6 columns]

In [ ]:
newdf.head(3)

              A         B         C         D         E         F
0  65432.000000  0.134973  0.520899  0.351377  0.239569  0.948734
1      0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
2      0.109778  0.804790  0.332287  0.049080  0.864447  0.838513

In [ ]:
newdf.at[0,'B']

0.13497346472189597

In [ ]:
newdf

                A         B         C         D         E         F
0    65432.000000  0.134973  0.520899  0.351377  0.239569  0.948734
1        0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
2        0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
3        0.023181  0.217998  0.234585  0.448379  0.570062  0.488784
4        0.633725  0.878015  0.555552  0.507698  0.358890  0.300329
..            ...       ...       ...       ...       ...       ...
325      0.861419  0.861662  0.667193  0.908011  0.193030  0.382738
326      0.242863  0.353430  0.604560  0.436369  0.042067  0.435393
327      0.705267  0.402900  0.538943  0.667611  0.557782  0.502896
328      0.338775  0.948968  0.533221  0.998294  0.304273  0.232437
329      0.613370  0.603965  0.153865  0.726900  0.156451  0.369609

[330 rows x 6 columns]

In [ ]:
newdf.index

RangeIndex(start=0, stop=330, step=1)

In [ ]:
newdf.set_index('ss')     # don't know

KeyError: ignored

In [ ]:
s1 = "danger"
s2 = "garden"   
result = len(s1)

In [ ]:
result

6

In [ ]:
# create a empty string
a = ""
# checking if its a empty string 
if not a:                                 # ------------------  why it sound weird to say 
  print("empty string")
else:
  print(a)

empty string

In [ ]:
# CARD 
# SUIT(heart,dimond,...),RANK(2,3,...,jack,queen),VALUE(int value jack(11) and queen(12))
import random 
suits = ('Hearts', 'Diamonds', 'Spades', 'Clubs')    # its a tuple
ranks = ('Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten', 'Jack', 'Queen', 'King', 'Ace')
values = {'Two':2, 'Three':3, 'Four':4, 'Five':5, 'Six':6, 'Seven':7, 'Eight':8, 
            'Nine':9, 'Ten':10, 'Jack':11, 'Queen':12, 'King':13, 'Ace':14}

In [ ]:
class Card:

  def __init__(self,suit,rank): # no value, cuz we'll make the dictionary later for just value
      self.suit=suit
      self.rank=rank    # suit and rank are strings 
      self.value=values[rank]  # wrote rank to this value cuz we have already wrote rank in our instantanious shit thats why---(self,suit,rank)

  def __str__(self):
      return self.rank + " of " + self.suit

In [ ]:
three_of_clubs = Card("Clubs","King")

In [ ]:
three_of_clubs.value

13

In [ ]:
two_hearts = Card("Heart","Two")
print(two_hearts)

Two of Heart

In [ ]:
two_hearts.suit

'Heart'

In [ ]:
two_hearts.rank   # you cannot compare this string directly with "Three".....so we'll make a dictionary now

'Two'

In [ ]:
values[two_hearts.rank]

2

In [ ]:
two_hearts.value == three_of_clubs

False

In [ ]:
class Deck:

  def __init__(self):
      self.all_cards = []
      for suit in suits:
          for rank in ranks:
              create_card = Card(suit,rank)
              self.all_cards.append(Card(suit,rank))


  def shuffle(self):

    random.shuffle(self.all_cards)


  def deal_one(self):                   # to grab one card
    return self.all_cards.pop()           # to return single card....becuz all_card is a list so we can use pop()

In [ ]:
new_deck = Deck()

In [ ]:
new_deck.shuffle()

In [ ]:
mycard = new_deck.deal_one()

In [ ]:
print(mycard)

Two of Diamonds

In [ ]:
len(new_deck.all_cards)

51

In [ ]:
bottom_card = new_deck.all_cards[-1]

In [ ]:
new_deck.shuffle()

In [ ]:
print(new_deck.all_cards[-1])          # if its shuffle then how come u would choose [-1] if could just pick anyone out of it

Jack of Spades

In [ ]:
class Player:

  def __init__(self,name):    # each player has a name
      
      self.name = name
      self.all_cards = []    #each new player would have an empty hand....starting with an empty list

   # now we need to makes classes for to add and remove the card by the player to this all_card list which is their current hand of card


  def remove_one(self):
      return self.all_cards.pop(0)

  def add_cards(self,new_cards):
      # List of multiple card object 

      if type(new_cards) == type([]):           #--------- didnt understand this line, why there's a empty list with a "type " written there
        self.all_cards.extend(new_cards)
      # for a single card object 

      else:                                          # if we dont have a list of card and we had a single card 
          self.all_cards.append(new_cards)
              
  def __str__(self):
      return f'Player {self.name} has {len(self.all_cards)} cards.'

In [ ]:
new_player = Player("labhi")

In [ ]:
print(new_player)

Player labhi has 0 cards.

In [ ]:
new_player.add_cards(mycard)

In [ ]:
print(new_player.all_cards[0])

Two of Diamonds

In [ ]:
new_player.add_cards([mycard,mycard,mycard])

In [ ]:
print(new_player)

Player labhi has 4 cards.

In [ ]:
new_player.remove_one()

In [ ]:
print(new_player)

Player labhi has 3 cards.

In [ ]:
# GAME SETUP
player_one = Player("one")        # player name "one"
player_two = Player("two")        # player name "two"

new_deck = Deck()         # now we hold the full of 52 cards
new_deck.shuffle()        # then we shuffle the whole fucking deck of 52 cards

for x in range(26):   # split the deck to both the players with each having 26 shuffle cards 
    player_one.add_cards(new_deck.deal_one())          #  player_one adds the cards.....    from that new_deck pick one card (deal_one)
    player_two.add_cards(new_deck.deal_one())         # same with player two  ....both player will choose one card from the deck

In [ ]:
print(player_two.all_cards[1])

Five of Hearts

In [ ]:
game_on = True

In [ ]:
round_num = 0 

while game_on:
    round_num += 1  # cuz u started the round_num with 0 so += 1 will start from the 0, 0+1, 1+1....etc. 
    print(f"Round {round_num}")

    if len(player_one.all_cards) == 0:
        print('Player one, out of cards!: Player two wins')
        game = False
        break 
     
    if len(player_two.all_cards) == 0:
        print('Player two, out of cards!: Player one wins')
        game = False
        break 


      # start a new round 

    player_one_cards = []  #-----cards players going to leave on the table so it will be a empty list 
    player_one_cards.append(player_one.remove_one())             #------ remove a card from their list of all cards and append it to the current play                       
                    

    player_two_cards = [] 
    player_two_cards.append(player_two.remove_one()) 

      # war  now we'll compare both players cards with each other 

    at_war = True

    while at_war:

        if player_one_cards[-1].value > player_two_cards[-1].value:
            player_one.add_cards(player_one_cards)
            player_one.add_cards(player_two_cards)

            at_war = False 

        elif player_one_cards[-1].value < player_two_cards[-1].value:
              player_two.add_cards(player_one_cards)
              player_two.add_cards(player_two_cards)
            
              at_war = False

        else:
            print("WAR!")

            if len(player_one.all_cards) < 5:
                print("Player one unable to declare war")
                print("PLAYER TWo WINS!")
                game_on = False 
                break 


            elif len(player_two.all_cards) < 5:
                  print("Player two unable to declare war")
                  print("PLAYER ONE WINS!")
                  game_on = False 
                  break 

            else:
                for num in range(5):
                    player_one_cards.append(player_one.remove_one())           
                    player_two_cards.append(player_two.remove_one())

Round 1
Round 2
Round 3
Round 4
Round 5
WAR!
Round 6
Round 7
Round 8
Round 9
Round 10
Round 11
Round 12
Round 13
Round 14
Round 15
WAR!
Round 16
Round 17
Round 18
Round 19
Round 20
Round 21
Round 22
Round 23
Round 24
Round 25
Round 26
Round 27
Round 28
WAR!
Round 29
Round 30
Round 31
Round 32
Round 33
Round 34
WAR!
WAR!
Round 35
Round 36
Round 37
Round 38
Round 39
Round 40
Round 41
Round 42
Round 43
Round 44
Round 45
Round 46
Round 47
Round 48
Round 49
Round 50
Round 51
Round 52
Round 53
Round 54
Round 55
Round 56
Round 57
Round 58
Round 59
Round 60
Round 61
Round 62
Round 63
Round 64
Round 65
Round 66
Round 67
Round 68
Round 69
Round 70
Player one, out of cards!: Player two wins

In [ ]:
newdf

                A         B         C         D         E         F
0    65432.000000  0.134973  0.520899  0.351377  0.239569  0.948734
1        0.179940  0.911287  0.498748  0.797717  0.628058  0.585694
2        0.109778  0.804790  0.332287  0.049080  0.864447  0.838513
3        0.023181  0.217998  0.234585  0.448379  0.570062  0.488784
4        0.633725  0.878015  0.555552  0.507698  0.358890  0.300329
..            ...       ...       ...       ...       ...       ...
325      0.861419  0.861662  0.667193  0.908011  0.193030  0.382738
326      0.242863  0.353430  0.604560  0.436369  0.042067  0.435393
327      0.705267  0.402900  0.538943  0.667611  0.557782  0.502896
328      0.338775  0.948968  0.533221  0.998294  0.304273  0.232437
329      0.613370  0.603965  0.153865  0.726900  0.156451  0.369609

[330 rows x 6 columns]

In [ ]:
newdf["C"].describe()

count    330.000000
mean       0.508329
std        0.284667
min        0.003765
25%        0.264559
50%        0.539883
75%        0.737155
max        0.997265
Name: C, dtype: float64

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
label = ['a','b','c']       
my_data = [10,20,30] 
arr = np.array(my_data)        
d = {'a':10,'b':20,'c':30}

In [ ]:
# to create a series
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data=my_data,index=label)          # unlike a numpy array we have the index that are label

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_data,label)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(arr,label)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
label

['a', 'b', 'c']

In [ ]:
pd.Series(data=label)

0    a
1    b
2    c
dtype: object

In [ ]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','Itly','japan'])

In [ ]:
ser1

USA        1
Germany    2
Itly       3
japan      4
dtype: int64

In [ ]:
ser1['USA']

1

In [ ]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Itly','Japan'])

In [ ]:
ser2

USA        1
Germany    2
Itly       5
Japan      4
dtype: int64

In [ ]:
ser2['USA']

1

In [ ]:
ser3 = pd.Series(data=label)

In [ ]:
ser3[0]

'a'

In [ ]:
ser1

USA        1
Germany    2
Itly       3
japan      4
dtype: int64

In [ ]:
ser2

USA        1
Germany    2
Itly       5
Japan      4
dtype: int64

In [ ]:
ser1 + ser2 # try to match up the operation based on the index  # interger will convert into floats so that we dont lose information becuz of weird division

Germany    4.0
Itly       8.0
Japan      NaN
USA        2.0
japan      NaN
dtype: float64

In [ ]:
# series has labeled index and data ponint

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(101)   # seed means to get the same random numbers

In [ ]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [ ]:
df         # each column is panda series,   dataframe is just bunch of series that shares index

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
type(df['W'])

pandas.core.series.Series

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df[['X','Z']]

          X         Z
A  0.628133  0.503826
B -0.319318  0.605965
C  0.740122 -0.589001
D -0.758872  0.955057
E  1.978757  0.683509

In [ ]:
df['new'] = df['W'] + df['Y']                    # you can create new column based of on old columns by using '+' arithmatic

In [ ]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
df.drop('new',axis=1,inplace=True)            #inplace=True if u want the effect to be permannat   # axis=1 for column

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.drop('E',axis=0)              #axis=0 for rows

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [ ]:
df.shape

(5, 4)

In [ ]:
df[['Z','X']]

          Z         X
A  0.503826  0.628133
B  0.605965 -0.319318
C -0.589001  0.740122
D  0.955057 -0.758872
E  0.683509  1.978757

In [ ]:
#ROWS

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.loc['C']            # loc means labeled based index location

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [ ]:
df.iloc[2]             #iloc means integer based index location

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [ ]:
df.loc['B','Y']

-0.8480769834036315

In [ ]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [ ]:
booldf = df > 0         #

In [ ]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [ ]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [ ]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[(df['W']>0) & (df['Y']>1)]  # there is difference between "and" and "&", "and" is used for single boolean condition but not for multiple boolean values 
                       # "and" can't compare with a series of boolean value with another series of boolean value

                       # if want to do a 'or' u can use '|'...'|' is a replacment for "or"

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.reset_index()           # if u want to reset index in a numerical way back to default

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
newind = 'CA NY WY OR CO'.split()

In [ ]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [ ]:
df['States'] = newind

In [ ]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [ ]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
from numpy.random import randn

In [ ]:
#index levels 
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [ ]:
df

             A         B
G1 1 -0.142916  0.038857
   2  1.950861 -0.411909
   3 -0.559920 -0.624250
G2 1  1.392021 -0.256718
   2 -1.696803 -1.389501
   3  1.294559  0.284786

In [ ]:
df.loc['G1'].loc[1]

A   -0.142916
B    0.038857
Name: 1, dtype: float64

In [ ]:
df.index.names = ['Group','Num']                  #if u want to give index a name use "name"

In [ ]:
df

                  A         B
Group Num
G1    1   -0.142916  0.038857
      2    1.950861 -0.411909
      3   -0.559920 -0.624250
G2    1    1.392021 -0.256718
      2   -1.696803 -1.389501
      3    1.294559  0.284786

In [ ]:
df.loc['G2'].loc[1]['B']

-0.25671811433863184

In [ ]:
df.xs(1,level='Num')              #xs means cross section for rows and column.....xs is used to get inside the multilevel index 
                                  # we cannot go inside the multilevel index with the help pf .loc methods 
                                  # we just have to specify what we want in xs.

              A         B
Group
G1    -0.142916  0.038857
G2     1.392021 -0.256718

In [ ]:
d = {'A':[1,2,np,nan],'B':[5,np,nan.np,nan],'C':[1,2,3]}